<div class="container">
  <div class="row">
    <div class="col mt-5 mb-5 text-center">
      <h1>Gestión de tareas</h1>
    </div>
  </div>

  <div class="row justify-content-center">
    <!-- Sección de Formulario -->
    <div class="col">
      <h3>Crear / Editar tarea</h3>
      <form [formGroup]="formularioTarea" (ngSubmit)="guardarTarea()">
        <!-- Campo: Título -->
        <div class="mb-3">
          <label for="titulo" class="form-label">Título</label>
          <input type="text" formControlName="titulo" required class="form-control" id="titulo"
            [class.is-invalid]="formularioTarea.get('titulo')?.invalid && formularioTarea.get('titulo')?.touched">
          <div *ngIf="formularioTarea.get('titulo')?.invalid && formularioTarea.get('titulo')?.touched"
            class="invalid-feedback">
            <span *ngIf="formularioTarea.get('titulo')?.errors?.['required']">El título es obligatorio.</span>
            <span *ngIf="formularioTarea.get('titulo')?.errors?.['minlength']">Debe tener al menos 3 caracteres.</span>
          </div>
        </div>

        <!-- Campo: Descripción -->
        <div class="mb-3">
          <label for="descripcion" class="form-label">Descripción</label>
          <textarea id="descripcion" class="form-control" formControlName="descripcion" required
            [class.is-invalid]="formularioTarea.get('descripcion')?.invalid && formularioTarea.get('descripcion')?.touched"></textarea>
          <div *ngIf="formularioTarea.get('descripcion')?.invalid && formularioTarea.get('descripcion')?.touched"
            class="invalid-feedback">
            <span *ngIf="formularioTarea.get('descripcion')?.errors?.['required']">La descripción es obligatoria.</span>
            <span *ngIf="formularioTarea.get('descripcion')?.errors?.['minlength']">Debe tener al menos 5
              caracteres.</span>
          </div>
        </div>

        <!-- Campo: Estado (Completado o No) -->
        <div class="mb-3 form-check">
          <input type="checkbox" formControlName="estado" class="form-check-input" id="estado">
          <label class="form-check-label" for="estado">Completado</label>
        </div>

        <!-- Botón de Guardar -->
        <button type="submit" [disabled]="formularioTarea.invalid" class="btn btn-outline-primary">
          {{ editando ? 'Actualizar' : 'Guardar' }}
        </button>
      </form>

    </div>


    <!-- Sección de Lista de Tareas -->
    <div class="col">
      <h3>Lista de tareas</h3>
      <!-- Filtro por Estado -->
      <div class="col-12 mt-4">
        <label for="filtroEstado" class="form-label">Filtrar por estado:</label>
        <select id="filtroEstado" class="form-select" [(ngModel)]="filtroEstado" (change)="filtrarTareas()">
          <option value="">Todos</option>
          <option [value]="true">Completado</option>
          <option [value]="false">Pendiente</option>
        </select>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Título</th>
            <th scope="col">Descripción</th>
            <th scope="col">Estado</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody *ngIf="listaTareas">
          <tr *ngFor="let tarea of tareasFiltradas">
            <th scope="row">{{ tarea.id }}</th>
            <td>{{ tarea.titulo }}</td>
            <td>{{ tarea.descripcion }}</td>
            <td>{{ getEstadoTexto(tarea.estado) }}</td>
            <td style="width: 200px;">
              <a class="btn btn-outline-warning me-3" (click)="cargarTareaParaEditar(tarea)">Editar</a>
              <a class="btn btn-outline-danger" (click)="eliminarTarea(tarea.id!)">Eliminar</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-12">
      <div *ngIf="mensajeAccion" class="alert alert-{{ tipoMensaje }} alert-dismissible fade show" role="alert">
        {{ mensajeAccion }}
        <button type="button" class="btn-close" (click)="cerrarMensaje()"></button>
      </div>
    </div>
  </div>

</div>